.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.home-container {
    padding: 50px 100px 50px 100px;
    height: calc(100vh - 120px);
    width: 100%;
}

.home-logo {
    width: 100%;
    height: calc(100vh - 200px);
    padding: 5px !important;
}

.home-info {
    margin-top: 100px;

    &__info {
        min-height: 150px;
    }
}