* {
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    color: #121821;
    background-color: #e1e4e9;
    height: 100%;
    line-height: normal;
  }
  
  #root {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }
  
  .main-text {
    font-size: 14px;
    font-weight: 600;
  }
  
  .unselectable-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .section-title {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.2;
  }