$panel-border: 0.071rem solid rgba(18, 24, 33, 0.12);
$danger-light: #e33371;
$danger-main: #dc004e;
$danger-dark: #9a0036;
$danger-contrastText: #fff;
$default-light: #F5F5F5;
$default-main: #EEEEEE;
$default-dark: #E0E0E0;
$default-contrastText: #000;
$primary-light: #4791db;
$primary-main: #1976d2;
$primary-dark: #115293;
$primary-contrastText: #fff;
$success-light: #81c784;
$success-main: #4caf50;
$success-dark: #388e3c;
$success-contrastText: #fff;
$transparentBlack-light: "transparent";
$transparentBlack-main: "transparent";
$transparentBlack-dark: "transparent";
$transparentBlack-contrastText: #000;