.user-edit {
  display: flex;
  width: 100%;

  &__loader {
    margin: auto;
  }
}

.user-edit-form {
  &__control {
    width: 100%;
    margin-bottom: 30px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.user-edit-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-height: 100%;
  width: 60%;
  gap: 10px;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 50%;

    &--description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-height: 100%;
      height: calc(100vh - 120px);
      padding: 20px;
      gap: 10px;
    }
  }

  &__files {
    width: 49%;
  }
}

.user-events-edit {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 24px;
  gap: 20px;
}

.user-events-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  max-height: 50%;
  height: calc(50vh - 70px);

  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    height: calc(100vh - 120px);
    overflow-y: auto;
    margin-bottom: 0;
    padding: 5px;
  }

  &__ul {
    padding: 0px;
    margin: 0px;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 12px 18px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 20px;
    margin-bottom: 10px;
  }

  // &__loader {
  //   margin: auto;
  // }
}

.user-managing-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  max-height: 100%;
  height: calc(100vh - 120px);
  margin-right: 24px;

  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    height: calc(100vh - 120px);
    overflow-y: auto;
    margin-bottom: 0;
    padding: 5px;
  }

  &__ul {
    padding: 0px;
    margin: 0px;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 12px 18px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 20px;
    margin-bottom: 10px;
  }

  // &__loader {
  //   margin: auto;
  // }
}

.user-files {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 20px;

    &__section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 48px;
  }
}

.user-files-breadcrumbs {
  &__loader {
    margin: auto;
  }
}
