.file {
    width: 130px;
    height: 130px;

    &__media {
      width: 100%;
      height: 73%;
      padding: 5px !important;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 27%;
      padding-bottom: 7px;
    }

    &__name {
      width: 70%;
      padding: 12px !important;
    }
  }