.grid-card {
  width: 100%;
  min-width: 180px;
  margin-bottom: 10px !important;

  &__action_area {
    border: none !important;
    outline: none !important;
  }

  &__media {
    height: 140px;
  }

  &--selected {
    margin-bottom: 10px !important;
  }
}