@import "../../../styles/variables";

.list {
  pointer-events: auto !important;
}

.list-item {
  width: 100%;
  padding-left: 26px !important;
  border-bottom: $panel-border !important;
  list-style-type: none;

  &--selected {
    padding-left: 20px !important;
    border-left: 6px solid $primary-main !important;
  }

  &--draggable {
    cursor: move !important;
  }

  &:last-child {
    margin-bottom: 75px;
  }

  &__secondary {
    visibility: hidden;

    &--hovered {
      visibility: visible;
    }
  }

  &__secondary-menu {
    padding: 5px 0;
  }
}